.all-beers{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.all-beers input {
    margin: 2rem 0;
    border: 1px solid rgba(50, 53, 112, 0.434);
    border-radius: 2rem;
    height: 2.5rem;
    width: 50vmin;
    padding-left: 0.8rem;
}

.all-beers input:hover {
    border: 1px solid rgba(50, 53, 112, 0.954);
}

.beer-list{
    display: flex;
    flex-wrap: wrap;    
    align-items: center;
    justify-content: center;
    padding: 0;
}

.beer-list li a{
    list-style-type: none;
    padding: 2rem;
    width: 16rem;
    height: 10rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: rgba(214, 228, 236, 0.172);
    border-bottom: 1px solid rgba(143, 195, 225, 0.895);
    margin: 0.3rem;
    cursor: pointer;
}

.beer-list li a img {
    height: 80%;
    
}

.beer-list li a div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

